<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="row m-0 p-0">
        <div style="padding-top:10px;padding-bottom:15px;">
            <div style="font-size:60px;color:black;padding-top:5px;padding-left:14%;float:left;">
                <b><a asp-controller="Home" asp-action="Index">Intex Project</a></b>
            </div>
            <div style="padding-top: 45px; text-align: right;padding-right:14%;float:right;">
                <ul id="menu">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Search">Accident Search</a></li>
                    <li><a asp-controller="Home" asp-action="Severity">Severity Calculator</a></li>
                    <li><vc:login></vc:login></li>
                </ul>
            </div>
        </div>
        <div style="padding-left: 10%; padding-right: 10%;">
            <hr style="color:black;background-color:black;border-width:0;height:2px;" />
        </div>
    </div>

        @RenderBody()

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
