@{
    Layout = null;
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" href="~/img/icon.png">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="body-index">

    <div class="container">
        <div class="row m-0 p-0">

            <div class="row mt-4 p-0">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <a asp-controller="Home" asp-action="Index">
                            <img class="logo" src="~/img/CrashLessUtahWhite.png" />
                        </a>
                    </div>
                    <div>
                        <ul id="index">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="Search">Accident Search</a></li>
                            <li><a asp-controller="Home" asp-action="Severity">Severity Calculator</a></li>
                            <li><a href="/admin/new-accident">Report an Accident</a></li>
                            <li><vc:login></vc:login></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <hr class="line-hr line-hr-home" />
                </div>
            </div>

            <div class="row text-body-row">
                <div class="col p-2 text-body-column">
                    <div class="text-center">
                        <h1>Welcome to CrashLess Utah!</h1>
                    </div>

                    <div class="extra-padding">
                        <h2>Our Mission</h2>
                        <p>
                            We want to make Utah roads safer through better access to historical accident and collision data. Using this data, we are able to gain valuable
                            insights into not only what factors cause collisions but also how those factors impact the severity of a collision.
                        </p>
                        <p>
                            Let’s work together to #yeet accidents out of our lives!
                        </p>
                        <h2>What We Offer</h2>
                        <p>
                            In compiling this data, we are able to offer it to the public in the form of a searchable database. Head on over to the Accident Search
                            page to search through Utah accident data from 2016, 2017, and 2019. Want to narrow down your search? Filter your results based on County,
                            City, and Severity.
                        </p>
                        <p>
                            To view all the specifics of an accident, click on it to be taken to a page displaying the details of the accident and a map of where it
                            occurred.
                        </p>
                        <p>
                            Check out our insights page to see our interactive dashboard of the accident information. Take a few minutes to learn about what causes
                            crashes, which conditions are more or less favorable, and more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>

    <footer class="footer bg-white text-center">

        <a asp-controller="Home" asp-action="Index">Home</a> |
        <a href="~/privacy_policy.pdf">Privacy</a> |
        Copyright 2022 | INTEX Group 1-6
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>