@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="body-index">

    <div class="row m-0 p-0">

        <div class="padding-tb">
            <div class="navmain-index">
                <b><a asp-controller="Home" asp-action="Index">Intex Project</a></b>
            </div>
            <div class="navitems">
                <ul id="index">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Search">Accident Search</a></li>
                    <li><a asp-controller="Home" asp-action="Severity">Severity Calculator</a></li>
                    <li><vc:login></vc:login></li>
                </ul>
            </div>
        </div>

        <div class="row text-body-row">
            <div class="col text-center p-2 text-body-column">
                <h1>This is a sample block of text</h1>
                <p>This is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of text</p>
                <p>This is a sample block of textThis is a sample block of text</p>
                <p>This is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of text</p>
                <p>This is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of text</p>
                <p>This is a sample block of textThis is a sample block of textThis is a sample block of textThis is a sample block of text</p>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>